# Node modules
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor-specific files
.vscode/
.idea/
*.swp

# Environment variables
.env
.env.local
.env.*.local

# VuePress cache
.cache/

# MacOS files
.DS_Store

# Temporary files
tmp/
temp/
